@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-primary: #222629;
  --color-primary-light: #474B4F;
  --color-secondary: #6B6E70;
  --color-accent-1: #61892F;
  --color-accent-2: #86C232;

  --color-neutral-dark: #222831;
  --color-neutral-light: #EEEEEE;

  --text-dark: #222831;
  --text-light: #EEEEEE;
}

html,
body {
  /* @apply bg-white dark:bg-gray-950; */
  @apply bg-white dark:bg-primary text-light;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}
